@tailwind base;
@tailwind components;
@tailwind utilities;

.squircle::after{
    content: "";
    position: absolute;
    height: 100px;
    width:100px;
    background-color: #7A10FA;
    top: 0;
    left: 0;
}